html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Helvetica, Arial, 'メイリオ', Meiryo, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', sans-serif;
}
label,
button {
  cursor: pointer;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}
hr {
  margin: 1em 0;
  border: none;
  height: 1px;
  background-color: #111;
}
input,
button,
textarea,
a {
  outline: none;
}
@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon:empty {
  width: 1em;
}
.icon.icon-project:before {
  content: "\e032";
}
.icon.icon-task:before {
  content: "\e137";
}
.icon.icon-watch:before {
  content: "\e105";
}
.icon.icon-console:before {
  content: "\e080";
}
.icon.icon-setting:before {
  content: "\e019";
}
.icon.icon-folder-open:before {
  content: "\e118";
}
.icon.icon-delete:before {
  content: "\e014";
}
.icon.icon-add:before {
  content: "\2b";
}
.icon.icon-run:before {
  content: "\e072";
}
.icon.icon-stop:before {
  content: "\e073";
}
.icon.icon-refresh:before {
  content: "\e031";
}
.icon.icon-check:before {
  content: "\e013";
}
.icon.icon-ok:before {
  content: "\e088";
}
.icon.icon-cancel:before {
  content: "\e089";
}
.widget-panes {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #333;
  color: #fff;
}
.widget-panes .pane-navi {
  position: absolute;
  background-color: #222;
  width: 80px;
  height: 100%;
  left: 0;
  top: 0;
  padding: 32px 0;
  box-sizing: border-box;
  z-index: 2;
  border-right: 1px solid #444;
}
.widget-panes .pane-main {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding-left: 80px;
  overflow: hidden;
  z-index: 1;
}
.widget-navi label {
  display: block;
  font-size: 1.5em;
  margin-top: 24px;
  cursor: pointer;
  text-align: center;
}
.widget-navi label:first-child {
  margin-top: 0;
}
.widget-navi input[type=radio] {
  display: none;
}
.widget-navi .icon {
  color: #999;
}
.widget-navi .icon:hover {
  color: #ccc;
}
.widget-navi input:checked + .icon {
  color: #fff;
}
.widget-pages {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.widget-pages h1 {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}
.widget-pages h2 {
  font-size: 1.2em;
  margin: 1em 0;
}
.widget-pages .page {
  background-color: #2c2c2c;
  border-right: 1px solid #111;
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  box-sizing: border-box;
  padding: 16px;
  overflow: auto;
}
.widget-pages .page.active {
  left: 0;
}
.widget-pages.animation .page {
  transition: left .3s ease;
}
.widget-button {
  font-size: 13px;
  background-color: #222;
  color: #ccc;
  border: 1px solid #444;
  border-radius: 3px;
  line-height: 1em;
  padding: 8px 12px;
}
.widget-button:hover {
  color: #fff;
}
.widget-button .icon:first-child {
  margin-right: .5em;
}
.widget-button .icon:last-child {
  margin-left: .5em;
}
.widget-list {
  margin: 1em 0;
  border: 2px solid #666;
  border-radius: 3px;
}
.widget-list label {
  display: block;
  border-top: 1px solid #555;
}
.widget-list label:first-child {
  border-top: none;
}
.widget-list .label {
  font-size: 0.8125em;
  display: block;
  background-color: #444;
  padding: 0 1em;
  line-height: 2em;
  color: #999;
}
.widget-list .label .control {
  float: right;
}
.widget-list .label:hover {
  background-color: #404040;
  color: #ccc;
}
.widget-list input[type=radio] {
  display: none;
}
.widget-list input:checked + .label {
  background-color: #222;
  color: #fff;
}
.widget-project-list {
  margin: 1em 0;
  border: 2px solid #666;
  border-radius: 3px;
}
.widget-project-list label {
  display: block;
  border-top: 1px solid #555;
}
.widget-project-list label:first-child {
  border-top: none;
}
.widget-project-list .label {
  font-size: 0.8125em;
  display: block;
  background-color: #444;
  padding: 0 1em;
  line-height: 2em;
  color: #999;
}
.widget-project-list .label .control {
  float: right;
}
.widget-project-list .label:hover {
  background-color: #404040;
  color: #ccc;
}
.widget-project-list input[type=radio] {
  display: none;
}
.widget-project-list input:checked + .label {
  background-color: #222;
  color: #fff;
}
.widget-task-list {
  margin: 1em 0;
  border: 2px solid #666;
  border-radius: 3px;
  height: 6em;
  overflow: auto;
}
.widget-task-list label {
  display: block;
  border-top: 1px solid #555;
}
.widget-task-list label:first-child {
  border-top: none;
}
.widget-task-list .label {
  font-size: 0.8125em;
  display: block;
  background-color: #444;
  padding: 0 1em;
  line-height: 2em;
  color: #999;
}
.widget-task-list .label .control {
  float: right;
}
.widget-task-list .label:hover {
  background-color: #404040;
  color: #ccc;
}
.widget-task-list input[type=radio] {
  display: none;
}
.widget-task-list input:checked + .label {
  background-color: #222;
  color: #fff;
}
.widget-task-config {
  margin: 1em 0;
  font-size: 0.8125em;
}
.widget-task-config fieldset {
  border: none;
  padding: 0;
  overflow: hidden;
}
.widget-task-config .label,
.widget-task-config .content {
  padding: 1em;
  box-sizing: border-box;
  line-height: 1.8em;
}
.widget-task-config .label {
  width: 8em;
  float: left;
}
.widget-task-config .content {
  margin-left: 10em;
}
.widget-task-config label {
  display: inline-block;
  margin-right: 1em;
}
.widget-task-config input[type=text] {
  background-color: #bbb;
  border: 1px solid #fff;
  border-radius: 3px;
  line-height: 1em;
  padding: 3px;
}
.widget-watch-control {
  background-color: #222;
  padding: .5em;
  border-radius: .5em;
}
.widget-watch-control button {
  background-color: transparent;
  color: #ccc;
  font-size: 16px;
  border: none;
}
.widget-watch-control button:hover {
  color: #fff;
}
.widget-watch-control button.active {
  color: #6f6;
}
.widget-watch-list {
  margin: 1em 0;
  font-size: 0.8125em;
  border: 1px solid #666;
  border-radius: 3px;
  overflow: hidden;
}
.widget-watch-list .label {
  display: block;
  padding: .5em 1em;
  line-height: 1em;
  color: #999;
  border-top: 1px solid #444;
}
.widget-watch-list .label:first-child {
  border-top: none;
}
.widget-watch-list .label:hover {
  background-color: #292929;
}
.widget-watch-list .label:hover .icon {
  opacity: .3;
}
.widget-watch-list .label .icon {
  opacity: 0;
  margin-right: .5em;
}
.widget-watch-list input[type=checkbox] {
  display: none;
}
.widget-watch-list input[type=checkbox]:checked + .label {
  background-color: #222;
  color: #fff;
}
.widget-watch-list input[type=checkbox]:checked + .label .icon {
  color: #9f9;
  opacity: 1;
}
.widget-console .console {
  background-color: #111;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  box-sizing: border-box;
  padding: 1em;
  width: 100%;
  height: 100%;
  overflow: auto;
}
#guirunt-layer {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
}
#guirunt-layer p {
  width: 200px;
  height: 40px;
  line-height: 40px;
  border: solid 3px #ccc;
  border-radius: 5px;
  text-align: center;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -60px;
}
#modal {
  position: absolute;
  width: 300px;
  height: 170px;
  background: rgba(0, 0, 0, 0.9);
  top: 50%;
  left: 50%;
  z-index: 101;
  display: block;
  margin: -85px 0 0 -150px;
  box-shadow: 3px 3px 5px #000;
  border-radius: 5px;
}
#modal h3 {
  padding: 30px 0 20px 0;
  margin: 0;
  text-align: center;
  color: #fff;
  font-size: 14px;
  height: 50px;
  overflow: hidden;
}
#modal .buttons {
  text-align: center;
  padding: 20px;
}
#modal .buttons button {
  display: inline-block;
  margin: 0 20px;
}
#modal .buttons button:first-child {
  padding: 8px 26px;
}
#modal .buttons button .icon {
  margin-left: 0px;
}
#modal.notify {
  -webkit-transform-origin: center center;
  -webkit-animation-name: blink;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 1;
}
@-webkit-keyframes blink {
  0% {
    -webkit-transform: scale(1, 1) translateZ(0);
  }
  50% {
    -webkit-transform: scale(1.1, 1.1) translateZ(0);
  }
  100% {
    -webkit-transform: scale(1, 1) translateZ(0);
  }
}
.guirunt-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 3px 3px 3px #000;
  margin: -160px 0 0 -210px;
  padding: 10px;
  display: none;
  z-index: 99;
}
#add-project-btn {
  display: none;
}
.guirunt-listfilter {
  padding: 5px;
  border-bottom: solid 1px #ccc;
}
.guirunt-listfilter input {
  display: inline-block;
  width: 98%;
  padding: 3px;
}
.guirunt-listview {
  margin: 5px;
  padding: 0;
  list-style: none;
  border-bottom: solid 1px #ccc;
}
.guirunt-listview li {
  padding: 8px;
  color: #333;
  font-size: 0.9em;
  border: solid 1px #ccc;
  border-bottom: none;
  cursor: pointer;
}
.guirunt-listview li:hover {
  background-color: #ccc;
}
